:root {
    --grey: #2c3531;
    --dark-blue: #123C69;
    --cream: #FBEEC1;
    --sea-green: #93E9BE;
}

* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    text-decoration:none;
    transition: all 0.5s ease-in-out;
    color:var(--cream);
    text-align:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 30%;

}
h1{
    margin-bottom: 3%;
}

body {
    background-color: var(--grey); 
    padding: 2%;
    margin:auto;
}

header, footer {
    padding: 1%;
    margin: auto;
    width:100%;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--cream);

}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
}
li {
    display: inline;
    font-size: 150%;
}
a{
    color: var(--dark-blue);

}
a:hover{
    color:var(--sea-green);
}


section {
    padding: 10%;
    border-left: 10px double var(--dark-blue);
    border-right: 10px double var(--dark-blue);
    margin: 3%;
}

h3 {
    font-size: 90%;
}
.main {
    padding: 1%;
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:100%;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--cream);
}

.home-picture{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-left: 10px double var(--dark-blue);
    border-right: 10px double var(--dark-blue);
    padding-left: 10%;
    padding-right: 10%;
    max-width: 35%;
    
}

.card {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2% auto;
    max-width: 40%;
    text-align: center;
    background-color: #123C69;
    font-size: 120%;
}
.card:hover{
  box-shadow: inset 0px 0px 8px var(--grey), 0 0 15px var(--grey);
  max-width: 100%;
}
.work{
    margin-left: 3%;
    padding: 2%;
}



@media screen and (max-width: 768px) {

    nav,
    main, .card, footer, img {

        flex-direction: column;
        font-size: 50%;
    }
  
    img {
      max-width: 50%;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }
  